* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* navigation */

.sub-programs {
    text-align: center;
    font-size: 20px;
}

hr {
    margin: 0.5rem 0rem;
}

.style-non-bullet {
    list-style: none;
}

.navigation {
    background-color: #0b3359;
    color: white;
    padding: 2rem;
}

.navigation .link {
    color: white;
    display: inline;
    padding: 0rem 1rem;
    text-decoration: none;
}


.list-elements-inline:hover {
    font-weight: bolder;
    font-size: 22px;
}


.navigation .nav-brand {
    color: pink;
    font-weight: bold;
    font-size: 200%;
}

h1 {
    padding: 8px;
    color: rgb(87, 7, 38);
    font-size: 40px;
    margin: auto;
    text-align: center;


}

/* container */
label {
    font-size: 30px;
    padding: 10px;
    display: block;
    margin: auto;
    text-align: center;
}

input {
    padding:5px;
    display: block;
    margin: auto;
}
button{
    display:block;
    padding:8px;
    margin:auto;
    color:white;
    background-color:rgb(87, 7, 38);
    font-size:20px;
}
p{
    padding:10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold
}

/* footer */
.footer div {
    background-color: #0b3359;
    padding: 1rem;

}

.footer-list {
    padding: 0.5rem;
    text-align: center;
    list-style-type: none;

}

.links {

    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    font-size: larger;
}

a,
li {
    color: white;
    display: inline;
}