@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap');
body
{font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
:root{
    --primary-color:#1F2937;
}
*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
.container{
    padding-left: 1rem;
    padding-right:1rem;
}
.container-centre{
    max-width: 600px;
    margin:auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    font-size: larger;
}
.link-primary {
    background-color: var(--primary-color);
    color: white;
}
.link-secondary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


hr{
    margin:2rem 0rem;
}
.style-non-bullet{
    list-style:none;
}
.inline-list{
    display:inline;
    padding:0rem 0.5rem;
}

/* navigation */
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .link{
    color:white;
    display:inline;
    padding:0rem 1rem;
    text-decoration: none;
}

.navigation .link-active{
    font-weight: bold;
}

.navigation .list-elements-inline{
    display:inline;
}
.list-non-bullet{
    text-align:right;
    font-size: 150%;   
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 200%;
}
.navigation .link-active{
    font-weight:bold;
}

/* header */
.heroine{
    padding:2rem;
}
.heroine .heroine-image{
    max-width:350px;
    display:block;
    margin:auto;
}
.heroine .heroine-heading{
    color: #626466;
    text-align:center;
    padding-top: 1rem;
    
}

/* section */
.section{
    padding:2rem 2rem;
}

.section h1{
    text-align:center;
    padding: 2rem;
    font-weight:  bold;
}

.section p{
    text-align:center;
    padding:1.5rem;
}
#off-white-section{
    background-color: #E5E7EB;  
}

/* footer */
.footer{
    background-color:#1F2937;
    color:white;
    padding:2rem 2rem;
    text-align:center;
    border-top-right-radius: 1rem;
}
.footer div{
    padding:1rem;
}

.footer-link{
    display:inline;
    padding:1rem;
}

.footer-link a{
    font-size:120%;
    color:white;
    text-decoration: none;
}